* {
  color: #05386B;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#5CDB95!important;
  font-family: '', sans-serif;
}


body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
